.reminders__content {
    width: calc(100% - 400px);
    height: calc(100vh - 70px);
    background: #fff;
    padding: 15px 15px 0 15px;
    border-left: 1px solid #e4e3e3;
}
.reminders__options {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #e4e3e3;
}
.reminders__options a {
    width: 35px;
    height: 35px;
    border: 3px solid #c13234;
    border-radius: 50%;
    color: #c13234;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.reminders__options a:hover {
    background: #c13234;
    color: #fff;
}
..reminders__options a:active {
    background: #6d060b;
}
.reminders__content.mod-true, .reminders__content.del-true  {
    display:none;
    overflow: hidden;
    height: 0;
    width: 0;
}
.reminders__not__found {
    border: 1px solid #e4e3e3;
    width: 100%;
    height: calc(100% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reminders__container {
    max-height: 100%;
    height: 100%;
}
.reminders__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #c13234;
    height: 45px;
}
.reminders__header > div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #6d060b;
}
.reminders__header > div:last-child {
    border-right: none;
}
.reminders__description,
.reminder__description  {
    width: 40%;
}
.reminders__date,
.reminder__date  {
    width: 20%;
}
.reminders__time,
.reminder__time {
    width: 20%;
}
.reminders__actions,
.reminder__actions {
    width: 20%;
}
.reminders__list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow: auto;
}
.reminder__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reminder__list:nth-child(odd) {
    background: #ececec;
}
.reminder__list > div {
    font-size: 12px;
    line-height: 18px;
}
.reminder__description {
    width: 40%;
    padding: 10px 15px;
}
.reminder__date,
.reminder__time {
    padding: 10px 15px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reminder__actions {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}
.reminder__modify,
.reminder__delete {
    width: 35px;
    height: 35px;
    border: 3px solid #c13234;
    border-radius: 50%;
    color: #c13234;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.reminder__modify:hover,
.reminder__delete:hover {
    background: #c13234;
    color: #fff;
}
.reminder__modify:active,
.reminder__delete:active {
    background: #6d060b;
}
.reminder__delete {margin-left: 15px;}